<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="d-flex">
  <%= link_to "Ver", @post, class: "btn btn-primary me-2" %>
  <%= link_to "Volver", posts_path, class: "btn btn-secondary" %>
</div>
